<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменение данных</title>
</head>
<body>
    <h1>Изменение данных</h1>
    <form th:method="POST" th:action="@{/edit(id=${user.getId()})}" th:object="${user}">
        <label for="name">Имя</label>
        <input th:field="*{name}" type="text" id="name"><br>
        <label for="email">E-mail</label>
        <input th:field="*{email}" type="text" id="email"><br>
        <label for="age">Возраст</label>
        <input th:field="*{age}" type="text" id="age"><br>
        <input type="submit" value="Сохранить">
    </form>

</body>
</html>