<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
    <link rel="stylesheet" href="style.css">
    <title>Список пользователей</title>
</head>
<body>
<h1>Список пользователей</h1>
<table>
    <th>Имя</th>
    <th>E-mail</th>
    <th>Возраст</th>
    <th>Действие</th>
    <tr th:each="user : ${users}">
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td th:text="${user.getAge()}"></td>
        <td>
            <div>
                <a style="float: left" th:href="@{/users/edit(id=${user.getId()})}">Изменить</a>
            </div>

            <form style="float: right" th:method="POST" th:action="@{/users/remove(id=${user.getId()})}">
                <input type="submit" value="Удалить">
            </form>
        </td>

    </tr>
</table>
<br>
<a href="users/new">Добавить</a>
</body>
</html>